<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Compositor</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Georg Philipp Telemann</string>
			<key>pais</key>
			<string>França</string>
			<key>estilo</key>
			<string>Barroco</string>
			<key>foto</key>
			<string>110.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Carl Philipp Emanuel Bach</string>
			<key>pais</key>
			<string>França</string>
			<key>estilo</key>
			<string>Classicismo</string>
			<key>foto</key>
			<string>4.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Ernest Chausson</string>
			<key>pais</key>
			<string>França</string>
			<key>estilo</key>
			<string>Romantismo</string>
			<key>foto</key>
			<string>25.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Vincenzo Bellini</string>
			<key>pais</key>
			<string>Italia</string>
			<key>estilo</key>
			<string>Romantismo</string>
			<key>foto</key>
			<string>10.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Giuseppe Tartini</string>
			<key>pais</key>
			<string>Italia</string>
			<key>estilo</key>
			<string>Classicismo</string>
			<key>foto</key>
			<string>108.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Antonio Vivaldi</string>
			<key>pais</key>
			<string>Italia</string>
			<key>estilo</key>
			<string>Barroco</string>
			<key>foto</key>
			<string>113.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Johann Sebastian Bach</string>
			<key>pais</key>
			<string>Alemanha</string>
			<key>estilo</key>
			<string>Barroco</string>
			<key>foto</key>
			<string>6.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Christoph Willibald Gluck</string>
			<key>pais</key>
			<string>Alemanha</string>
			<key>estilo</key>
			<string>Classicismo</string>
			<key>foto</key>
			<string>46.jpg</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Carl Maria von Weber</string>
			<key>pais</key>
			<string>Alemanha</string>
			<key>estilo</key>
			<string>Romantismo</string>
			<key>foto</key>
			<string>115.jpg</string>
		</dict>
	</array>
</dict>
</plist>
